<% flash.each do |type, msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>



<%= form_with url: "/count", method: :post, class: 'form-group' do |form| %>
  <%= form.label :query, "Text:" %>
  <%= form.text_area :text, class: 'form-control' %>
  <%= form.submit "Count", class: 'btn btn-primary mt-3' %>
<% end %>

<div>

<hr>
<% if @count %>
  <span class="alert alert-success"> The text has  <%= @count %> words</span>
<% end %>
</div>